:root {
    --yellow: #fc9200;
    --red: #de0202;
    --white: #fefefe;
    --gray: #4d3f3f;
    --blackGray: #3f3333;
  }
  
  .check {
    position: absolute;
    height: 46px;
    width: 46px;
    margin-left: -5%;
    margin-top: -5%;
  }

  