:root {
    --yellow: #fc9200;
    --red: #de0202;
    --white: #fefefe;
    --gray: #4d3f3f;
    --blackGray: #3f3333;
  }

  #containerBox{
    height: 79vh;
    margin-top: -20%;
    width: 100%;
  }
  
  .boxInicio {
    position: relative;
    height: auto;
    width: 70%;
    padding: 5%;
    border-radius: 20px;
    background-color: var(--red);
    color: var(--yellow);
    margin: 15%;
  }

  .title-box{
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 10%;
  }

  